button {
    cursor: pointer;
  }
  #numbers {
    width: 150px;
    float: left;
  }
  #numbers .defaultButton {
    background: #1976D2;
    border: 1px solid #1565C0;
    color: #FFF;
    margin: 5px;
  }
 .greenBtn {
    background: #558B2F;
    color: #FFF;
  }